
@font-face {
  font-family: "LarkenExtraBold";
  src: local("Larken"),
  url("./fonts/LarkenDEMO-ExtraBold.otf") format('opentype');
}

@font-face {
  font-family: "Larken";
  src: local("Larken"),
  url("./fonts/LarkenDEMO-Regular.otf") format('opentype');
}

p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

:root {
  font-family: "Larken", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.5em;


  color-scheme: light dark;
  color:#fff3af;
  background: linear-gradient(#0f2030, #3281a230);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding:5% 5% 0 5%;
  scroll-behavior:smooth;

  /* In IE (Internet Explorer) and Edge */
  -ms-overflow-style:none;

  /* In Firefox */
  scrollbar-width: none;
}

/* In chrome base */
:root::-webkit-scrollbar{
  display: none;
}


h1{
  font-family: "LarkenExtraBold";
  font-size: 3.2em;
  line-height: 1.1;
}

.header{
  margin-right:5%;
  color: #646cff;
  text-decoration: inherit;
  font-family: "LarkenExtraBold";
}

area:hover {
  color: #fff3af;
}

.header::after {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  height: 3px;
  background: #fff3af;
  border-radius: 5px;
}

@keyframes borderAnimation{
  0%   {width:0;}
  100% {width:100%;}
}


.header:hover::after {
  animation: borderAnimation 1s;;
  width: 100%;
}
